#a-propos {
  max-width: 1160px;
  margin: auto;
  padding-top: 80px;
  .a-propos-container {
    display: flex;
    margin-bottom: 100px;
    margin-top: 60px;
    align-items: center;
    img {
      margin-right: 100px;
      width: 360px;
    }
    .texte-apropos {
      h2 {
        margin-bottom: 20px;
      }
      p {
        width: 80%;
        line-height: 22px;
      }
    }
  }
  .anecdotes {
    margin-bottom: 100px;
    text-align: center;
    h3 {
      margin-bottom: 20px;
      font-family: $SemiBold;
    }
    p {
      padding-bottom: 10px;
    }
    span {
      color: $red-cherry;
      font-family: $Medium;
    }
  }
  .encart-pourquoi {
    background-color: $powder-pink;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    padding: 40px 200px;
    h2 {
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      line-height: 22px;
    }
  }
  .formations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 62px;
    .formations-container {
      display: flex;
      align-items: baseline;
      margin-bottom: 18px;
      .boules {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $red-cherry;
        margin: 0 10px;
      }
      .noms-ecoles {
        color: $dark-blue;
        font-family: $SemiBold;
      }
      p {
        line-height: 30px;
        max-width: 600px;
      }
    }
  }

  .passions-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 100px 20px 100px;
    .passions {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
      .img-interet {
        width: 75%;
      }
      .img-rubis {
        width: 60%;
        padding: 24px;
      }
      .img-livre {
        padding: 3px;
      }
      .img-ecrire {
        width: 100%;
        padding-bottom: 12px;
      }
      .img-bad {
        width: 73%;
      }
    }
  }
  .border {
    margin: 80px 0;
    width: 100%;
    border-bottom: 2px solid #e84e4f;
    display: block;
  }
}
